.dice {
    height: 100px;
    width: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-50px) rotateY(-45deg) rotateX(-45deg);
    transition: transform 1s;
  }
  .panel {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    perspective: 200px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
  }
  .dot {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 2px;
    background-color: black;
  }
  .side {
    position: absolute;
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    line-height: 100px;
  }
  .one {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(-90deg) translateZ(50px);
    z-index: 1;
  }
  .two {
    display: flex;
    justify-content: space-between;
    transform: rotateY(180deg) translateZ(50px);
    z-index: 2;
  }
  .two .dot:nth-of-type(2) {
    align-self: flex-end;
  }
  .three {
    display: flex;
    justify-content: space-between;
    transform: rotateY(90deg) translateZ(50px);
    z-index: 3;
  }

  .three .dot:nth-of-type(2) {
    align-self: center;
  }

  .three .dot:nth-of-type(3) {
    align-self: flex-end;
  }
  .four {
    z-index: 4;
    transform: rotateY(0deg) translateZ(50px);
  }
  .four,
  .six {
    display: flex;
    justify-content: space-between;
  }

  .four .column,
  .six .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .five {
    display: flex;
    justify-content: space-between;
    transform: rotateY(-90deg) translateZ(50px);
    z-index: 5;
  }

  .five .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .five .column:nth-of-type(2) {
    justify-content: center;
  }
  .six {
    transform: rotateX(90deg) translateZ(50px);
    z-index: 6;
  }
